.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f2f2f2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.input_box {
  background-color: white;
  padding: 1px;
  margin-top: 20px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  

}
#buttoni{
  background-color:  #ffffff;
  padding: 15px;
  border-color: #e0e0e0;
  border-width: 0px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border-right-width: 0px;
  border-bottom-color: white;
}

#mobile{
  padding: 15px;
  background-color: #ffffff;
  border-width: 0px;
  border-color: #e0e0e0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-left-width: 0px;
  border-top-color: white;

}
.continue_button{
  margin-top: 10px;
  background-color: #FFBD59;
  padding: 10px;
  padding-left: 94px;
  padding-right: 94px;
  border-radius: 50px;
  font-size: 15px;
  font-family: papyrus;
}

#partition{
  padding-left: 15px;
  letter-spacing: 42px;
  border: 0;
  background-image: linear-gradient(to left,black 100%, rgba(255, 0, 0, 0.3) 100%);
  background-position: bottom;
  background-size: 50px 1px;
  background-repeat: repeat-x;
  background-position-x: 35px;
  width: 220px;
  outline: none;
}

.bottom_line{
  font-size: 15px;
  position: absolute;
  background-color: #f2f2f2;
  bottom: 5px;
  line-height: 2px;
  color: #595959;
}

#TermService{
  margin-top: 1px;
  color: #FFBD59;
  font-weight: bold;
}
/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/