.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #c1c1c1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.input_box {
  background-color: #ffffff;
  padding: 10px;
  margin-top: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

}
#button-91{
  background-color:  #ffffff;
  padding: 5px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.continue_button{
  background-color: #ffffff;
  padding: 5px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

#partition{
  padding-left: 15px;
  letter-spacing: 42px;
  border: 0;
  background-image: linear-gradient(to left,black 100%, rgba(255, 0, 0, 0.3) 100%);
  background-position: bottom;
  background-size: 50px 1px;
  background-repeat: repeat-x;
  background-position-x: 35px;
  width: 220px;
  outline: none;
}
/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/